.ipynb_checkpoints
__pycache__
*.pyc
env/
.DS_Store

node_modules/

bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs